// Mixins in here

.btn-style(@w, @bg-color, @color){
    width: @w;
    background-color: @bg-color;
    color: @color;
    font-size: 2rem;
    border-radius: 15px;
    text-align: center;
    padding: 4.5% 8%;
}

